/*All*/
html {
  font-family: sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.content_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 60rem;
}

.content1 {
  padding: 2rem 1.5rem;
  width: 60%;
}

.content1 img {
  width: 100%;
}

.content2 {
  display: flex;
  flex-flow: column;
  width: 40%;
  padding-right: 1.5rem;
}

.content_section {
  display: flex;
  align-items: center;
}

.content_section:hover {
  background-color: #DCDCDC;
  transition-duration: 1s;
}

.content_section img {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.content_section .text_section {
  width: 65%;
}

.content_section .text_section h1 {
  font-size: 1.125rem;
}

.content_section .text_section p {
  padding: .5rem 0;
  font-size: .70rem;
}

.bold {
  font-weight: bold;
}

/*Header*/
header .content_box {
  padding: 0 1.5rem;
  height: 4rem;
}

header .logo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
}

header .logo img {
  height: 2rem;
}

header nav a {
  margin-left: 1rem;
}

/*Main*/
/*Banner*/
.banner {
  background-color: #DCDCDC;
}

.banner .content2 h1 {
  font-size: 2rem;
}

.banner .content2 h2 {
  font-size: 1.25rem;
  padding: 1.25rem 0;
}

.banner .content2 a {
  text-align: center;
  padding: 1rem; 0;
  background-color: grey;
  color: white;
}

.banner .content2 a:hover {
  background-color: black;
  transition-duration: 1s;
}

/*Practice*/
.practice {
  background-color: #F8F8FF;
}

.practice .content_box {
  align-items: flex-start;
}

.practice .content1 {
  border-right: 1px solid grey;
}

.practice .content1 img {
  padding-bottom: 2rem;
}

.practice .content1 h1 {
  font-size: 1.75rem;
  padding-bottom: 1.5rem;
}

.practice .content1 p {
  font-size: 12px;
  padding-bottom: 32px;
}

.practice .content1 span {
  font-size: 10px;
}

.practice .content2 {
  padding-top: 1rem;
}

.practice .content_section .text_section a {
  text-decoration: none;
  color: blue;
}

/*Learning*/
.learning .content_box { /*Mass Override*/
  flex-flow: column;
  padding: 2rem 4.5rem;
}
